<div class="event">
    {{#each event}}
        <a href="/events/{{_id}}" class="link"><h2>{{eventName}}</h2></a>
        {{#if cancelled}}<p class="error">CANCELLED</p>{{/if}}
        <img src="data:{{image.mimetype}};base64,{{image.data}}" alt="event image" class="imgId">
        <p class="labelp">Location:</p> {{location}} <br>
        <p class="labelp">from</p> {{startTime}} <p class="labelp">to</p> {{endTime}} <br>
        <p class="labelp">Posted by</p> {{postedBy}} <br>
        <p class="labelp">Capacity:</p> {{numUserRegistered}}/{{capacity}} <br>
        <p class="labelp">Description:</p> {{description}} <br>
        <p class="labelp">Tags:</p>
        {{#each tags}}
            <p class="tag">#{{this}} </p>
        {{/each}}
        <!--link to comments page-->
        <br>
    {{/each}}
</div>


{{#unless event}}
<h2> No events to display</h2>
{{/unless}}