<h1>Your Events</h1>
<ul class="event">
    {{#each created}}
        <a href="/{{_id}}"><h2>{{eventName}}</h2></a>
        <img src="data:{{image.mimetype}};base64,{{image.data}}" alt="event image" class="imgId">
        <p>Location: {{location}}</p>
        <p>from {{startTime}} to {{endTime}}</p>
        <p>Posted by {{postedBy}}</p>
        <p>Capacity: {{numUserRegistered}}/{{capacity}}</p>
        <p>{{description}}</p>
        <p>Tags:</p>
        {{#each tags}}
            <p class="tag">#{{this}} </p>
        {{/each}}
        <!--link to comments page-->
        <p>{{numComments}} comment(s)</p>
    {{/each}}
</ul>