<h1>{{info.eventName}}</h1>
<h2>Posted by {{info.postedBy}} from {{info.college}}</h2>
<p>{{info.description}}</p>
<p>from {{info.startTime}} to {{info.endTime}}</p>


<form method="POST" action="/events/register/{{info._id}}" id="register-btn">
    <input type="submit" value="Register For This Event">
</form>
<form method="POST" action="/events/favorite/{{info._id}}" id="favorite-btn">
    <input type="submit" value="Add Event To Favorites">
</form>

{{#each info.comments}}
    <div class="comment">
        <h2>{{userName}} commented on {{commentDate}}:</h2>
        <p>{{body}}</p>
    </div>
{{/each}}
