<h1>{{info.eventName}}</h1>
<img src="data:{{info.image.mimetype}};base64,{{info.image.data}}" alt="event image" class="bigImg">
<h2 class="header2">Posted by {{info.postedBy}} from {{info.college}}</h3>
<p id="desc">{{info.description}}</p>
<p>from {{info.startTime}} to {{info.endTime}}</p>
<p>Hosted at {{info.location}}</p>
<p>Capacity: {{info.usersRegistered.length}}/{{info.capacity}}</p>
{{#if owner}} <p>Currently registered: {{info.usersRegistered}}</p> {{/if}}
{{#each info.tags}}<p class="tag">#{{this}} </p>{{/each}}
{{#if cancelled}}<p class="error">CANCELLED</p>{{/if}}

{{#if owner}}
<h2 class="header2">Edit Event:</h2>

<div class="error" id="error0" hidden>Im an error</div>


<form method="POST" action="/edit/{{info._id}}" id="editevent-form" encType="multipart/form-data">
    <label for="editeventName">Event name:</label>
    <input type="text" id="editeventName" value="{{info.eventName}}" name="eventName"><br>
    <label for="editlocation">Location:</label>
    <input type="text" id="editlocation" name="location" value="{{info.location}}"><br>
    <label for="editstartTime">Start time:</label>
    <input type="datetime-local" id="editstartTime" name="startTime" value="{{info.fmtStartTime}}"><br>
    <label for="editendTime">End time:</label>
    <input type="datetime-local" id="editendTime" name="endTime" value="{{info.fmtEndTime}}"><br>
    <label for="editdescription">Description:</label>
    <input type="text" id="editdescription" name="description" value="{{info.description}}"><br>
    <label for="editcapacity">Capacity:</label>
    <input type="number" min="1" id="editcapacity" name="capacity" value="{{info.capacity}}"><br>
    <label for="edittags">Tags:</label>
    <input type="text" id="edittags" name="tags" value="{{info.tags}}"><br>
    <label for="editimage">Upload image here:</label>
    <input type="file" id="editimage" name="image"><br>
    <button type="submit" class="submitbutton">Submit</button>
</form>

    {{#if info.cancelled}}
    <form method="POST" action="/events/uncancel/{{info._id}}" class="details-btn">
        <input type="submit" value="Uncancel This Event For All Users">
    </form>
    {{else}}
    <form method="POST" action="/events/cancel/{{info._id}}" class="details-btn">
        <input type="submit" value="Cancel This Event For All Users">
    </form>
    {{/if}}
{{/if}}


{{#if registered}}
<form method="POST" action="/events/unregister/{{info._id}}" class="details-btn">
    <input type="submit" value="Unregister For This Event">
</form>
{{else}}
{{#unless info.cancelled}}<form method="POST" action="/events/register/{{info._id}}" class="details-btn">
    <input type="submit" value="Register For This Event">
</form>{{/unless}}
{{/if}}



{{#if favorited}}
<form method="POST" action="/events/unfavorite/{{info._id}}" class="details-btn">
    <input type="submit" value="Remove From Favorites">
</form>
{{else}}
{{#unless info.cancelled}}<form method="POST" action="/events/favorite/{{info._id}}" class="details-btn">
    <input type="submit" value="Add Event To Favorites">
</form>{{/unless}}
{{/if}}




<form method="POST" action="/comments/{{info._id}}" id="makecomment-form">
    <label for="comment">Comment:</label><br>
    <input type="text" id="comment" name="comment">
    <button type="submit">submit</button>
</form>

<div id="allComments">
    {{#each info.comments}} 
        <div class="comment">
            <h3>{{userName}} commented on {{commentDate}}:</h3>
            <p>{{body}}</p>
        </div>
    {{/each}}
</div>

<div id="error" hidden>I'm an error</div>
