{{#if loggedIn}}
    <h1>Events At {{college}}</h1>
{{else}}
    <h1>Welcome!</h1>
    <p>For events tailored to your location, please create an account or log in with your existing account.</p>
{{/if}}
<ul class="event">
    {{#each event}}
        <h2>{{eventName}}</h2>
        <img src="{{image}}" alt="event image" class="imgId">
        <p>Location: {{location}}</p>
        <p>from {{startTime}} to {{endTime}}</p>
        <p>Posted by {{postedBy}}</p>
        <p>Capacity: {{numUserRegistered}}/{{capacity}}</p>
        <p>{{description}}</p>
        <p>Tags:</p>
        {{#each tags}}
            <p class="tag">#{{this}} </p>
        {{/each}}
        <!--link to comments page-->
        <a href="">{{numComments}} comment(s)</p>
    {{/each}}
</ul>