<h1>Your Registered Events</h1>
<ul class="event">
    {{#each registered}}
        <h2>{{eventName}}</h2>
        <img src="{{image}}" alt="event image" class="imgId">
        <p>Location: {{location}}</p>
        <p>from {{startTime}} to {{endTime}}</p>
        <p>Posted by {{postedBy}}</p>
        <p>Capacity: {{numUserRegistered}}/{{capacity}}</p>
        <p>{{description}}</p>
        <p>Tags:</p>
        {{#each tags}}
            <p class="tag">#{{this}} </p>
        {{/each}}
        <!--link to comments page-->
        <a href="/{{id}}">{{numComments}} comment(s)</a>
    {{/each}}
</ul>